html, body {
    padding: 0;
    margin: 0;
    background:
            linear-gradient(transparent 75%, #3cb31e),
            linear-gradient(transparent 95%, #2bb305),
            linear-gradient(lightskyblue 80%, #a3ff80);
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: black;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-weight: normal;
    font-stretch: normal;
}

a {
    font-weight: bolder;
    text-decoration: none;
    text-shadow:
            1px 1px 10px rgba(255, 235, 0, 0.25),
            1px -1px 10px rgba(255, 235, 0, 0.25),
            -1px 1px 10px rgba(255, 235, 0, 0.25),
            -1px -1px 10px rgba(255, 235, 0, 0.25);
}

/* unvisited link, visited link */
a:link, a:visited {
    color: white;
}

/* mouse over link, selected link */
a:hover, a:active {
    color: lightyellow;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 3;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 8;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex: 1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('logo.png') center center no-repeat;
    background-size: contain;
    width: 100%;
    height: 22vh;
    padding: 10px;
}

.menu, .footer {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid brown;
    border-left: none;
    border-right: none;
    background-color: #ffaa00;
    color: #671919;
    font-weight: bolder;
    font-variant: all-small-caps;
}

.menu {
    height: 60px;
    font-size: 3rem;
}

.footer {
    height: 86px;
    font-size: 2rem;
}

.menu-item {
    margin-bottom: 4px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.download-button {
    align-self: center;
    display: inline-block;
    background: url('app_store.png') center center no-repeat;
    background-size: contain;
    width: 80%;
    height: 80%;
}

.content {
    position: relative;
    width: 85%;
    height: 55vh;
    overflow-y: auto;
    padding: 12px 16px;
    border: 3px solid brown;
    background: rgba(255, 255, 255, 0.65) url('bee.png') bottom right no-repeat;
    background-size: 380px 380px;
    font-size: 1.5rem;
}

.content.no-bee {
    background: rgba(255, 255, 255, 0.65);
}

.content a {
    color: black;
}

/* unvisited link, visited link */
.content a:link, .content a:visited {
    text-decoration: underline;
    text-shadow: none;
}

/* mouse over link, selected link */
.content a:hover, .content a:active {
    text-decoration: none;
    text-shadow:
            1px 1px 10px rgba(255, 235, 0, 0.25),
            1px -1px 10px rgba(255, 235, 0, 0.25),
            -1px 1px 10px rgba(255, 235, 0, 0.25),
            -1px -1px 10px rgba(255, 235, 0, 0.25);
}

.content strong {
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
}

@media (max-width: 1024px) {
    .top {
        flex: 3;
    }

    .logo {
        height: 18vh;
    }

    .menu {
        height: 50px;
        font-size: 2.5rem;
    }

    .footer {
        height: 76px;
        font-size: 1.5rem;
    }

    .content {
        height: 50vh;
        background: rgba(255, 255, 255, 0.65);
    }

    .bee {
        display: none;
    }

    .footer-item {
        width: 100%;
    }

    .download-button {
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 770px) {
    .menu {
        font-size: 2.25rem;
    }

    .footer {
        font-size: 1.3rem;
    }

    .content {
        font-size: 1.35rem;
    }

    .content strong {
        font-size: 1.45rem;
    }
}

@media (max-width: 400px) {
    .top {
        flex: 2;
    }

    .logo {
        height: 12vh;
    }

    .menu {
        height: 46px;
        font-size: 2rem;
    }

    .footer {
        font-size: 1.2rem;
    }

    .content {
        font-size: 1.2rem;
    }

    .content strong {
        font-size: 1.3rem;
    }
}